<div class="box boxColor">
    <hr class="top" style="width:100%">
    <div class="flex-row" *ngIf="isUserLoggedIn()">
        <img src="/assets/edit.png" class="hvr-pulse" style="max-width: 50px;margin: 1rem;" (click)="editWorkExperience(workExperience.id)">
        <img src="/assets/delete.png" class="hvr-pulse" style="max-width: 50px;margin: 1rem;" (click)="removeWorkExperience(workExperience.id)">
    </div>
    <div class="flex-row space-bottom titleBox">
        <img src="{{workExperience.workIconUrl}}">
        <h1>{{workExperience.workPlace}}</h1>
        <div class="flex-center-column">
            <label>{{workExperience.startDate}}</label>
            <label style="margin: 0 auto;">-</label>
            <label *ngIf="workExperience.endDate">{{workExperience.endDate}}</label>
            <label style="margin: 0 auto;" *ngIf="!workExperience.endDate">Current</label>
        </div>
    </div>
    <div class="flex-row">
        <h2>{{workExperience.workTitle}}</h2>
        <label>{{workExperience.technologys}}</label>
    </div>
    <p>{{workExperience.workDescription}}</p>

    <ng-container *ngFor="let content of workExperience.contentList">

        <ng-container *ngIf="content.contentType == 'text'">
            <app-paragraphs [content]="content"></app-paragraphs>
        </ng-container>

        <ng-container *ngIf="content.contentType == 'video'">
            <app-videos [content]="content"></app-videos>
        </ng-container>

        <ng-container *ngIf="content.contentType == 'image'">
            <app-images [content]="content"></app-images>
        </ng-container>

        <ng-container *ngIf="content.contentType == 'link'">
            <app-links [content]="content"></app-links>
        </ng-container>

    </ng-container>
    <hr class="bottom space-top" style="width:100%;">
</div>
