img {
    max-width: 10rem;
    max-height: 5rem;
}

@media screen and (max-width: 990px){
    .right-box{
      width: 100%;
      order: 1;
    }
    .left-box{
      width: 100%;
    }
    .flex-row{
      flex-direction: column !important;
    }
}