<div class="flex-row space-top" *ngIf="paragraphList.length >= 2 || !isEmpty(content.contentParagraph)">
    <div class="right-box images">
        <iframe width="560" height="315" [src]="contentUrl" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="left-box" style="margin-right:0.5rem">
        <h2>{{content.contentTitle}}</h2>
        <ng-container *ngFor="let content of paragraphList">
            <p>{{content}}</p>
        </ng-container>
    </div>
</div>
<div *ngIf="isEmpty(content.contentParagraph)" class="space-top flex-center-column">
    <h2 *ngIf="content.contentTitle">{{content.contentTitle}}</h2>
    <iframe [src]="contentUrl" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media" style="min-height:25rem" allowfullscreen></iframe>
</div>