body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height :100vh;
    font-family: "Helvetica Neue",Helvetica,Arial;
    transition: 0.25s;
}

.options{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
    /* min-width: 600px;
    max-width: 900px; */
    /* width: 100vw; */
    /* width: calc(100% - 100px); */
    height: 400px;
    
}

.option{
    /* position: relative; */
    overflow: hidden;
    min-width: 30px;
    max-width: 100px;
    margin: 10px;
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    border-style: solid;
    border-color: #e0472e;
}

.options .option.active{
    flex-grow:10000;
    transform: scale(1);
    max-width: 420px;
    /* margin: 0 auto; */
    border-radius: 20px;
    background-size: auto 100%;
    border-color: black;
}

.options .option.active .shadow{
    box-shadow: inset 0 -120px 120px -120px #000, inset 0 -120px 120px -100px #000;
}

.options .option.active .label{
    bottom: 20px;
    left: 20px;
}

.options .option.active .label .info > div{
    left: 0;
    opacity: 1;
}

.options .option:not(.active){
    flex-grow: 1;
    border-radius: 30px;
}

.options .option:not(.active) .shadow{
    bottom: -40px;
    box-shadow: inset 0 -120px 0 120px #000, inset 0, -120px 0, -100px #000;
}

.options .option:not(.active) .label{
    bottom: 10px;
    left: 10px;
    display: none;
}

.options .option:not(.active) .label .info > div{
    left: 20px;
    opacity:0;
}

.options .option .shadow{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option .label{
    display: flex;
    position: absolute;
    right: 0;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}


.options .option .label .icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
}

.options .option .label .info > div{
    position: relative;
    transition: 0.5s cubic-bez(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

.options .option .label .info .main{
    font-weight: bolder;
    font-size: 1.2rem;
}

.options .option .label .info .sub{
    transition-delay: 0.1s;
}

.info{
    color: black;
    margin-bottom: 1rem;
}

@media screen and (max-width: 718px){
    .options{
        min-width: 420px;   
    }
    /* .options .option:nth-child(5){
        display:none;
    } */
}
@media screen and (max-width: 628px){
    .options{
        min-width: 440px;   
    }
    /* .options .option:nth-child(4){
        display:none;
    }  */
}
@media screen and (max-width: 558px){
    .options{
        min-width: 360px;   
    }
    /* .options .option:nth-child(3){
        display:none;
    } */
}
@media screen and (max-width: 478px){
    .options{
        min-width: 280px;   
    }
    /* .options .option:nth-child(2){
        display:none;
    } */
}