@const CREAM_COLOR: #E4DFDA;
@const BLUE_COLOR: #4357AD;
@const RED_COLOR: #C33C54;
@const GREEN_COLOR: #48A9A6;
@const TAN_COLOR: #D4B483;

html{
    background-image: url(../src/assets/spikes.png);
    /* background-color: #13131e; */
    /* background-color: black; */
    /* width: 100vw; */
    cursor: auto;
    color: white !important;
}

/* div {
  border-style: solid;
  border-color: coral;
} */

.boxColor{
  /* background-color: #202133; */
}

.primaryColor{
  color: #feaf41
}

.secondaryColor{
  color: #e0472e
}

.thirdColor{
  color: #4f36c2
}

/* FONTS */
@font-face {
    font-family: "Play";
    src: url(assets/fonts/Oswald-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Kanit";
  src: url(assets/fonts/Kanit-Regular.ttf) format("truetype");
}  

body::-webkit-scrollbar {
  width: 1rem;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid grey;  /* creates padding around scroll thumb */
}

.box{
  border-radius: 1rem;
  margin-top: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 1rem;
  padding: 0rem;
  width: -webkit-fill-available;


  box-shadow:
	  inset #e0472e 0 0 0 5px,
    inset #E55831 0 0 0 1px,
    inset #EA6A34 0 0 0 10px,
    inset #EF7B38 0 0 0 11px,
    inset #F48C3B 0 0 0 16px,
    inset #F99E3E 0 0 0 17px,
    inset #FEAF41 0 0 10 20px;
    
}

@media screen and (max-width: 1100px){
  .box{
      margin-left: 3rem;
      margin-right: 3rem; 
  }
}

.images{
  display: flex;
  justify-content: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.space-bottom{
  margin-bottom: 1rem;
}

.space-top{
  margin-top: 1rem !important;
}

h1{
  font-size: 3rem !important;
  text-shadow: 3px 3px 1px #4f36c2;
}

p{
  /* color: #feaf41; */
  color: black;
  font-size: 1rem;
}

h1,h2,h3,h4,h5,h6,label{
  color: #e0472e;
  font-family: Kanit !important;
  line-height: 1.6;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  /* background-color: #4f36c2; */
  cursor: default;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.mat-typography h2{
  margin: 0;
}

.paragraphSpacing > *{
  margin-bottom: 0.5rem;
}

.mat-expansion-panel {
  background-color: #13131e;
}

@keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
    75% {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.input-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  caret-color: red;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #feaf41;
  box-shadow: 0 0 10px #feaf41;
}

input:hover, textarea:hover {
  outline: none;
  border-color: white;
  box-shadow: 0 0 10px white;
  cursor: pointer;
}

.fillLink {
  font-size: 1.5rem;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #e0472e;
  color: #e0472e;
  margin: 0 -.25rem;
  padding: 0.5rem .5rem;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
  border-radius: 1rem;
  border: 2px solid #e0472e;
  min-width: 10rem;
}

.fillLink:hover {
  box-shadow: inset 100vw 0 0 0 #e0472e;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.aSelected {
  box-shadow: inset 100vw 0 0 0 #13131E;
  color: #feaf41;
  border: 2px solid #feaf41;
  font-weight: 500;
}

hr.bottom { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

hr.top { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 

hr.top:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  /* background-color: rgba(255,255,255,0.1); */
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

mat-dialog-container {
  background-color: rgb(29, 29, 29, 0.5) !important;
}
