@const CREAM_COLOR: #E4DFDA;
@const BLUE_COLOR: #4357AD;
@const RED_COLOR: #C33C54;
@const GREEN_COLOR: #48A9A6;
@const TAN_COLOR: #D4B483;

html{
    /* background-image: url(../src/assets/spikes.png); */
    background-color: #13131e;
    /* width: 100vw; */
}

.boxColor{
  background-color: #202133;
}

.primaryColor{
  color: #feaf41
}

.secondaryColor{
  color: #e0472e
}

.thirdColor{
  color: #4f36c2
}

/* FONTS */
/* @font-face {
    font-family: "Oxygen";
    src: local("Oxygen"), url(./assets/fonts/Oxygen/Oxygen-Regular.ttf) format("truetype");
} */

.box{
  background-color: #202133;
  color: #feaf41;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 2rem;
  padding: 3rem;
  border-radius: 1rem;
}

.left{
    float: left;
}
.right{
    float: right;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.space-bottom{
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
}

p{
  color: #feaf41;
  font-size: 1rem;
}

h1,h2,h3,h4,h5,h6{
  color: #e0472e;
}

mat-expansion-panel {
  background-color: #13131e;
}

mat-expansion-panel-header:hover {
  background-color: #4f36c2;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #e0472e;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

@keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
    75% {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
