/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10;
}

/* Links inside the navbar */
a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
a:hover {
    background: #ddd;
    color: red;
}

.right-box{
    float: right;
    order: 3;
}

.left-box{
    float: left;
    order: 2;
}
