<!-- <div *ngIf="isNotMobile()">
    <div class="navbar">
        <div class="left-box">
            <a href="/home">Home</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="right-box" *ngIf="isUserLoggedIn()">
            <a href="/createProject">Create Project</a>
            <a href="/createWorkExperience">Create Work Experience</a>
            <a href="/logout">Log out</a>
        </div>
    </div>
    <div style="margin-top:5rem;"></div>
    <app-nav-slider></app-nav-slider>
</div> -->

<!-- <div class="component-container">
    <router-outlet></router-outlet>
</div> -->

<mat-sidenav-container>
    <mat-sidenav [(opened)]="isOpened">
        
        <a href="/home"><img src="/assets/close.png" class="hvr-pulse close" (click)="isOpened = !isOpened"></a>
        <div class="top-box">
            <a class="hvr-pulse menuItem" (click)="close()" href="#" routerLink="/home" routerLinkActive="active">Home</a>
            <a class="hvr-pulse menuItem" (click)="close()" href="#" routerLink="/interest/1" routerLinkActive="active">Game Development</a>
            <a class="hvr-pulse menuItem" (click)="close()" href="#" routerLink="/interest/2" routerLinkActive="active">Art Work</a>
            <a class="hvr-pulse menuItem" (click)="close()" href="#" routerLink="/interest/3" routerLinkActive="active">Software Development</a>
            <a class="hvr-pulse menuItem" (click)="close()" href="#" routerLink="/workExperiences" routerLinkActive="active">Work Experience</a>
            <!-- <a class="hvr-pulse" href="/contact">Contact</a> -->
        </div>
        <div class="bottom-box" *ngIf="!isUserLoggedIn()">
            <hr/>
            <a class="hvr-pulse menuItem" (click)="close()" href="#" routerLink="/login" routerLinkActive="active">Log In</a>
        </div>
        <div class="bottom-box" *ngIf="isUserLoggedIn()">
            <hr/>
            <a class="hvr-pulse menuItem" (click)="close()" href="#" routerLink="/createProject" routerLinkActive="active">Create Project</a>
            <a class="hvr-pulse menuItem" (click)="close()" href="#" routerLink="/createWorkExperience" routerLinkActive="active">Create Work Experience</a>
            <a class="hvr-pulse menuItem" (click)="close()" href="#" routerLink="/logout" routerLinkActive="active">Log out</a>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <img src="/assets/menu.png" class="hvr-pulse menuIcon" style="max-width: 70px;margin: 1rem;" *ngIf="isOpened == false" (click)="isOpened = !isOpened">
        <div class="top-space" *ngIf="isNotMobile()">
            <app-nav-slider></app-nav-slider>
        </div>
        <div class="component-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
