
<div *ngIf="isNotMobile()">
    <div class="navbar">
        <div class="left-box">
            <a href="/home">Home</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="right-box" *ngIf="isUserLoggedIn()">
            <a href="/createProject">Create Project</a>
            <a href="/logout">Log out</a>
        </div>
    </div>
    <div style="margin-top:5rem;"></div>
    <app-nav-slider></app-nav-slider>
</div>

<div class="component-container">
    <router-outlet></router-outlet>
</div>
