.right-box{
    float: right;
    width: 40%;
    order: 3;
}
.left-box{
    float: left;
    width: 60%;
    order: 2;
    align-self: baseline;
}

@media screen and (max-width: 990px){
  .right-box{
    width: 100%;
    order: 1;
  }
  .left-box{
    width: 100%;
  }
  .flex-row{
    flex-direction: column !important;
  }
}

img {  
  max-height: inherit;
  overflow: auto;
  max-width: -webkit-fill-available;
  border-radius: 0.25rem;
}

.solo-img-div{
  max-height: 500px;
}

.solo-img{
  height: max-content;
  width: max-content;
}