@const CREAM_COLOR: #E4DFDA;
@const BLUE_COLOR: #4357AD;
@const RED_COLOR: #C33C54;
@const GREEN_COLOR: #48A9A6;
@const TAN_COLOR: #D4B483;


.home{
    border-radius: 1rem;
    border:3px solid black;
    background-color: grey;
    margin-top: 3rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 3rem;
    color: #fff;
}

.top-home{
    margin: 1rem;
    /* height: 10px; */
    width: 50%;
    border-radius: 1rem;
    border:3px solid black;
}

.profile-img{
    /* margin: 0 auto; */
    max-height: 400px;
    min-height: 30px;
    max-width:auto;
    border-radius: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
   
  li {
    font: 200 20px/1.5 Helvetica;
    /* border-bottom: 1px solid #ccc; */
  }
   
  li:last-child {
    border: none;
  }
   
  li {
    text-decoration: none;
    color: #fff;
    display: block;
   
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
  }
   
  li:hover {
    font-size: 30px;
    color: red;
    /* background: #f6f6f6; */
  }

.socialIcons{
    margin: 2rem;
    display:flex; 
    flex-direction:row; 
    justify-content:space-around; 
    background-color:#ccc;
    padding-top: 1rem;
    border:3px solid black;
    border-radius:1rem;
}

.icons{
    max-width: 80px;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1100px){
    .profile-img{
        width: 100%;
    }
    .home{
        margin-left: 3rem;
        margin-right: 3rem; 
    }
}

@media screen and (max-width: 640px){
    .profile-img{
        max-width: 40vw;
        max-height: 35vw;
        align-self: center;
    }
    .icons{
        max-height: 10vw;
    }
}
