<ng-container *ngFor="let workExperience of workExperienceList">
    <div class="box boxColor">
        <hr class="top" style="width:100%">
        <div class="flex-row space-bottom titleBox">
            <img src="{{workExperience.workIconUrl}}">
            <h1>{{workExperience.workPlace}}</h1>
            <div class="flex-center-column">
                <label>{{workExperience.startDate}}</label>
                <label>-</label>
                <label>{{workExperience.endDate}}</label>
            </div>
        </div>
        <div class="flex-row">
            <h2>{{workExperience.workTitle}}</h2>
            <label>{{workExperience.technologys}}</label>
        </div>
        <p>{{workExperience.workDescription}}</p>

        <ng-container *ngFor="let content of workExperience.contentList">

            <ng-container *ngIf="content.contentType == 'text'">
                <app-paragraphs [content]="content"></app-paragraphs>
            </ng-container>

            <ng-container *ngIf="content.contentType == 'video'">
                <app-videos [content]="content"></app-videos>
            </ng-container>

            <ng-container *ngIf="content.contentType == 'image'">
                <app-images [content]="content"></app-images>
            </ng-container>

            <ng-container *ngIf="content.contentType == 'link'">
                <app-links [content]="content"></app-links>
            </ng-container>

        </ng-container>
        <hr class="bottom space-top" style="width:100%;">
    </div>

</ng-container>